.ProfileImage {
    margin-top: 50%;
    margin-bottom: 20px;
    width: 350px;
    height: 455px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    box-shadow: 0 0 25px 10px #21365b;
}